<p id="notice"><%= notice %></p>
<p><%= link_to 'All Photos', root_path %></p>
<div class="row">
  <div class="span9">
    <%= image_tag @photo.picture.url, :width => "100%" if @photo.picture.present? %>
  </div>

  <div class="span3">
    <p><b>Name: </b><%= @photo.name %></p>
    <p><b>Description: </b><%= @photo.description %></p>
    
  </div>
</div>


<h3>Comments</h3>
<table>
  <tr>
    <th>Comment<th>
  </tr>
  <% @photo.comments.each do |comment| %>
    <tr>
      <td><%= comment.body %></td>
    </tr>
  <% end %>
</table>
<p><%= link_to 'New Comment', new_photo_comment_path(@photo) %></p>
