<!DOCTYPE html>
<html>
<head>
  <title>Photoapp</title>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap.min.css">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="topbar">
    <div class="fill">
    <div class="container">
      <a class="brand" href="/">The Photo app</a>
      <ul class="nav">
        <li class="active"><a href="/photos">Photos</a></li>
		<li ><%= link_to 'New Photo', new_photo_path %></li>
		</ul>
    </div>
  </div>
</div>
 <%= yield %>
</div>
<footer>
  <div class="container">
    Photo App
  </div>
</footer>
</body>
</html>
